<h1>Showing builds for {{ full_name }}</h1>

{% for build in builds %}
  <div class="uk-alert ">
    <div class="uk-panel-badge uk-badge">{{ build.instance_type }}</div>
    <h3 class="uk-panel-title">{{ build.environment_name }}</h3>

    <p>
      <h4>Public Key</h4>
      <textarea class="code">{{ build.gpg_public_key }}</textarea>>
    </p>
    <p>
      <h4>Repository</h4>
      <textarea class="code">{{ build.repository.full_name }}</textarea>
    </p>
    <button type="button" onclick="ScheduleBuildNow('{{ build.token }}')" class="uk-button uk-button-large uk-text-large uk-button-info">
      <i class="uk-icon-cog uk-icon-medium"> </i>Build Now</button>
      <code>{{ build.token }}</code>
  </div>
{% endfor %}

{% if not builds %}
  <div class="uk-alert uk-alert-danger">
    <h3 class="uk-panel-title">No builds so far...</h3>
  </div>
{% endif %}