<h1 ng-show="repositories['{{ org.login }}']">{{ org.login }} repositories</h1>

<table class="uk-table uk-text-large uk-table-hover uk-table-striped uk-table-condensed" ng-show="repositories['{{ org.login }}']">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repository in repositories['{{ org.login }}']">
      {% raw %}
      <td>{{ repository.name }}</td>
      <td class="row" data-full-name="{{ repository.full_name }}" >
        <button type="button" class="uk-button uk-button-success" ng-click="CreateBuild(current_organization, repository)">
          Create build <i class="uk-icon-cog"></i></button>
        <button type="button" class="uk-button uk-button-primary" ng-click="ManageBuilds(repository)">
          Manage Builds <i class="uk-icon-coffee"></i></button>
      </td>
      {% endraw %}
    </tr>
  </tbody>
</table>
